body {
  background-color: #15202B;
  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  color: #E7E9EA;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}